# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github_files\opencv-pyqt5-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
